openapi: 3.1.0
info:
  title: nOps Essentials Scheduler MAP Migration API
  description: The nOps public API provides programmatic access to cloud cost and usage insights, MAP migration project management, and essentials scheduler operations. It enables teams to monitor and analyze AWS environments, automate cost optimization tasks, and integrate nOps data into existing analytics tools and monitoring systems outside of the nOps dashboard.
  version: 1.0.0
  contact:
    name: nOps Support
    url: https://help.nops.io/docs/support/open-support-case
  termsOfService: https://www.nops.io/terms-of-service/
servers:
- url: https://app.nops.io
  description: nOps Production API
security:
- ApiKeyAuth: []
tags:
- name: MAP Migration
  description: Endpoints for managing and retrieving information about AWS Migration Acceleration Program (MAP) migration projects, including projects, products, and resources.
paths:
  /c/v3/map-migration/:
    get:
      operationId: listMapMigrationProjects
      summary: Nops List Map Migration Projects
      description: Lists all MAP Migration projects for the current client. Returns a JSON array containing all MAP Migration projects signed by the customer with AWS.
      tags:
      - MAP Migration
      responses:
        '200':
          description: Successful response with list of MAP migration projects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MapMigrationProject'
        '401':
          description: Unauthorized. Invalid or missing API key.
        '403':
          description: Forbidden. Insufficient permissions.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /c/v3/map-migration/{id}/:
    get:
      operationId: getMapMigrationProject
      summary: Nops Retrieve a Map Migration Project
      description: Retrieves details of a specific MAP migration project by its ID.
      tags:
      - MAP Migration
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the MAP Migration project.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response with project details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapMigrationProject'
        '401':
          description: Unauthorized. Invalid or missing API key.
        '404':
          description: MAP migration project not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /c/v3/map-migration/{id}/products/:
    get:
      operationId: listMapMigrationProducts
      summary: Nops List Products in a Map Migration Project
      description: Lists all products within a specific MAP migration project.
      tags:
      - MAP Migration
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the MAP Migration project.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response with list of products.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MapMigrationProduct'
        '401':
          description: Unauthorized. Invalid or missing API key.
        '404':
          description: MAP migration project not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /c/v3/map-migration/{id}/resources/:
    get:
      operationId: listMapMigrationResources
      summary: Nops List Resources in a Map Migration Project
      description: Lists the resources within a specific MAP migration project.
      tags:
      - MAP Migration
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the MAP Migration project.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response with list of resources.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MapMigrationResource'
        '401':
          description: Unauthorized. Invalid or missing API key.
        '404':
          description: MAP migration project not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MapMigrationResource:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the resource.
          example: abc123
        resource_type:
          type: string
          description: The type of the AWS resource.
          example: example_value
        resource_id:
          type: string
          description: The AWS resource identifier.
          example: '500123'
        project_id:
          type: integer
          description: The ID of the parent MAP Migration project.
          example: '500123'
    MapMigrationProject:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the MAP Migration project.
          example: abc123
        name:
          type: string
          description: The name of the MAP Migration project.
          example: Example Title
        status:
          type: string
          description: The current status of the project.
          example: example_value
        created_at:
          type: string
          format: date-time
          description: Timestamp when the project was created.
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the project was last updated.
          example: '2026-01-15T10:30:00Z'
    MapMigrationProduct:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the product.
          example: abc123
        name:
          type: string
          description: The name of the product.
          example: Example Title
        project_id:
          type: integer
          description: The ID of the parent MAP Migration project.
          example: '500123'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Nops-Api-Key
      description: API key generated from the nOps console under Organization Settings. Include this key in the X-Nops-Api-Key header for all requests.
    SignatureAuth:
      type: apiKey
      in: header
      name: x-nops-signature
      description: Encoded signature for enhanced security. Created using a public/private key pair configured in the nOps console.
